a{
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;

}

main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    margin-top: 80px;
}

.pdf-container3{
    background-color: #d56dd5;
    padding: 5% 10%;
    border: 5px solid #68b81d;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.h3s{
    text-align: center;
    margin-top: 20px;
    color: #f9d41d;
}

#sec1{
    background-color: #d56dd5;
    padding: 5% 10%;
    border: 5px solid #68b81d;
    border-radius: 10px;
    margin: 10px;
}
.first8{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

button{
    background-color: #00bfff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}